.button {
    color: var(--title-text-color);
    background-color: var(--button-backgrownd);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    cursor: pointer;
    border-radius: 4px;
    padding-left: 22px;
    padding-right: 22px;
    padding-top: 6px;
    padding-bottom: 6px;
    border: 0px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover,
.button:focus {
    color: var(--body-backgrownd);
    background-color: var(--accent-color);
}

.button-primary {
    color: var(--body-backgrownd);
    background-color: var(--accent-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    cursor: pointer;
    width: 200px;
    border-radius: 4px;
    border: none;
    display: flexbox;
    margin-bottom: 200px;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-footer__button {
    color: var(--body-backgrownd);
    background-color: var(--accent-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    cursor: pointer;
    width: 200px;
    height: 50px;
    border-radius: 4px;
    border: none;
       padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 29px;
    padding-right: 28px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 60px;
    
}

.modal__button {
    color: var(--body-backgrownd);
    background-color: var(--accent-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    cursor: pointer;
    width: 200px;
    height: 50px;
    border-radius: 4px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-left: 164px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
