.hero-section {
    max-width: 100%;
    height: 400px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: linear-gradient(
            0deg,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)
        ),
        url(../images/header_img_mobile.jpg);
}

@media (min-resolution: 2dppx) {
    .hero-section {
        background-image: linear-gradient(
                0deg,
                rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)
            ),
            url(../images/header_img_mobile@2x.jpg);
    }
}

@media screen and (min-width: 481px) {
    .hero-section {
        background-image: linear-gradient(
                0deg,
                rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)
            ),
            url(../images/header_img_tablet.jpg);
    }

    @media (min-resolution: 2dppx) {
        .hero-section {
            background-image: linear-gradient(
                    0deg,
                    rgba(47, 48, 58, 0.4),
                    rgba(47, 48, 58, 0.4)
                ),
                url(../images/header_img_tablet@2x.jpg);
        }
    }
}

@media screen and (min-width: 950px) {
    .hero-section {
        background-image: linear-gradient(
                0deg,
                rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)
            ),
            url(../images/header_img_desktop.jpg);
    }

    @media (min-resolution: 2dppx) {
        .hero-section {
            background-image: linear-gradient(
                    0deg,
                    rgba(47, 48, 58, 0.4),
                    rgba(47, 48, 58, 0.4)
                ),
                url(../images/header_img_desktop@2x.jpg);
        }
    }
}

@media screen and (min-width: 1200px) {
    .hero-section {
        height: 600px;
    }
}

.hero-section__title {
    color: #ffffff;
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    margin-top: 118px;
    margin-bottom: 30px;

    @media screen and (max-width: 1199px) {
        font-size: 26px;
    }
}
