.hero-section {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(
            0deg,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)
        ),
        url(../images/hero-bgc.jpg);
    background-repeat: no-repeat;
    // background-size: 1600px;
    background-position: center;
}

.hero-section__title {
    color: #ffffff;
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    margin-top: 118px;
    margin-bottom: 30px;

    @media screen and (min-width: 768px) {
        font-size: 26px;
    }
}
