.logo {
    color: #000000;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;
    display: flex;
    justify-content: center;
}

.logo > .logo__text {
    color: var(--accent-color);
}