.logo {
    color: #000000;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;

    @media screen and (min-width: 768px) {
        display: inline-flex;
    }
    @media screen and (min-width: 1200px) {
        justify-content: flex-start;
    }
}

.logo > .logo__text {
    color: var(--accent-color);
}
