// .page-header {
//     border-bottom: 1px solid #ececec;
// }

// .main-nav {
//     display: flex;
//     align-items: center;
// }
// .main-nav__list {
//     display: flex;
//     list-style-type: none;
//     margin-left: 93px;
//     margin-top: 0px;
//     margin-bottom: 0px;
//     padding-left: 0px;
// }

// .contacts {
//     display: flex;
//     margin-left: auto;
//     list-style-type: none;
//     padding-left: 0px;
// }

// .contacts .contacts-item + .contacts-item {
//     margin-left: 50px;
// }

// .main-nav__item {
//     margin-right: 50px;
// }
// .main-nav__list .main-nav__item:last-child {
//     margin-right: 0;
// }
// .main-nav__list a {
//     display: block;
//     color: var(--title-text-color);
//     font-family: Roboto;
//     font-weight: 500;
//     font-size: 14px;
//     line-height: 1.14;
//     letter-spacing: 0.02em;
//     text-decoration: none;
//     padding-bottom: 32px;
//     padding-top: 32px;
//     transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
// }
// .main-nav__list a:hover {
//     color: var(--accent-color);
// }

// .main-nav__list a:focus {
//     color: var(--accent-color);
// }

// .main-nav__list .main-nav__link.current {
//     color: var(--accent-color);
//     position: relative;
// }
// .contacts a {
//     color: var(--subtitle-text-color);
//     font-family: Roboto;
//     font-weight: 500;
//     font-size: 14px;
//     line-height: 1.14;
//     letter-spacing: 0.02em;
//     text-decoration: none;
// }

// .contacts__item {
//     list-style-type: none;
//     display: flex;
//     justify-content: center;
//     margin-left: 30px;
// }

// .contacts__link {
//     background-color: var(--body-backgrownd);
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     fill: currentColor;
//     color: var(--subtitle-text-color);
//     transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
// }
// .contacts__link:hover {
//     color: var(--accent-color);
// }
// .contacts__icon {
//     margin-right: 10px;
// }

// .main-nav__link.current::after {
//     content: '';
//     width: 100%;
//     height: 4px;
//     border-radius: 2px;
//     background-color: var(--accent-color);
//     position: absolute;
//     bottom: 0px;
//     left: 0px;
// }