.portfolio__list {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    padding-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 60px;

    @media screen and (min-width: 768px) {
        justify-content: center;
    }
}

.portfolio__item {
    width: 450px;
    margin-bottom: 30px;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    @media screen and (min-width: 768px) {
        width: 354px;
        margin-right: 30px;
    }
}

.portfolio__list .portfolio__item:nth-child(even) {
    @media screen and (min-width: 768px) {
        margin-right: 0px;
    }
}

.portfolio__list .portfolio__item:last-child {
    margin-bottom: 0px;
}

.portfolio__item:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
}
// .portfolio__item:nth-child(3n) {
//     margin-right: 0;
// }

// .portfolio__item:nth-last-child(-n + 3) {
//     margin-bottom: 0px;
// }

.portfolio__title {
    color: var(--title-text-color);
    font-weight: bold;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    margin: 0px;
}

.portfolio__subtitle {
    color: var(--subtitle-text-color);
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;
    margin: 0px;
}

.portfolio a {
    text-decoration: none;
}

.visually-hidden {
    margin: 0px;
}

.portfolio__content {
    background: var(--body-backgrownd);
    border-bottom: 1px solid #eeeeee;
    border-left: 1px solid #eeeeee;
    border-right: 1px solid #eeeeee;
    box-sizing: border-box;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.portfolio__image {
    display: block;
}

.portfolio__item:hover .portfolio__text {
    transform: translateY(-100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__thumb {
    position: relative;
    overflow: hidden;
}

.portfolio__text {
    position: absolute;
    width: 370px;
    height: 294px;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.55;
    background-color: rgba(33, 150, 243, 0.9);
    color: var(--footer-text-color);
    padding-top: 63px;
    padding-left: 24px;
    padding-right: 24px;
    opacity: 1;
    transform: translateY(0%);
}
.portfolio__text:hover {
    opacity: 1;
}
