.properties-list {
    list-style-type: none;
    display: flex;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 0px;
    padding-top: 60px;
    padding-bottom: 60px;
    justify-content: space-between;

    @media screen and (max-width: 1199px) {
        flex-wrap: wrap;
    }

    @media screen and (min-width: 1200px) {
        padding-top: 94px;
        padding-bottom: 94px;
    }
}

.properties-list__item {
    width: 100%;
    margin-bottom: 30px;
    @media screen and (min-width: 768px) {
        width: 354px;
    }

    @media screen and (min-width: 1200px) {
        padding-right: 30px;
    }
}
.properties-list .properties-list__item:last-child {
    @media screen and (max-width: 1199px) {
        margin-bottom: 0px;
    }
    @media screen and (min-width: 1200px) {
        padding-right: 0px;
    }
}

.properties-list .properties-list__item:nth-child(3) {
    @media screen and (min-width: 768px) and (max-width: 1199px) {
        margin-bottom: 0px;
    }
}

.properties-list__title {
    color: var(--title-text-color);
    font-weight: bold;
    font-size: 14px;
    line-height: 1.17;
    letter-spacing: 0.06em;
    margin-top: 0px;
    margin-bottom: 10px;
}
.properties-list__text {
    color: var(--subtitle-text-color);
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    margin: 0px;
}
.properties-list__details {
    @media screen and (max-width: 1199px) {
        width: 100%;
    }

    @media screen and (min-width: 1200px) {
        width: 270px;
    }
}

.properties-list__logo {
    background-color: var(--button-backgrownd);

    height: 120px;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    border-radius: 4px;

    @media screen and (max-width: 1199px) {
        width: 100%;
    }

    @media screen and (min-width: 1200px) {
        width: 270px;
    }
}
