.properties-list {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 0px;
    padding-top: 60px;
    padding-bottom: 60px;
    justify-content: space-between;
}

.properties-list__item {
    width: 100%;
    margin-bottom: 30px;
}
.properties-list .properties-list__item:last-child {
    margin-bottom: 0px;
}
.properties-list__title {
    color: var(--title-text-color);
    font-weight: bold;
    font-size: 14px;
    line-height: 1.17;
    letter-spacing: 0.06em;
    margin-top: 0px;
    margin-bottom: 10px;
}
.properties-list__text {
    color: var(--subtitle-text-color);
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    margin: 0px;
}
.properties-list__details {
   width: 100%;
}

.properties-list__logo {
    background-color: var(--button-backgrownd);
    width: 450px;
    height: 120px;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    border-radius: 4px;
}