:root {
    --primary-text-color: #212121;
    --title-text-color: #212121;
    --subtitle-text-color: #757575;
    --accent-color: #2196f3;
    --body-backgrownd: #ffffff;
    --footer-backgrownd: #2f303a;
    --footer-text-color: #ffffff;
    --button-backgrownd: #f5f4fa;
}